@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
body {
  background-color: #dae0da;
  text-align: center;
}
.table-logo {
  height: 12rem;
  width: 30rem;
  background-color: #02031c;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  height: 120px;
  width: 120px;
  pointer-events: none;
  object-fit: fill;
}
.table-body {
  height: 23rem;
  width: 30rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: start;
  padding: 10px;
}
.welcome-message {
  font-family: "Anton", sans-serif;
  font-size: 20px;
  position: absolute;
}
.row-table {
  position: relative;
}
.item-row {
  text-align: center;
}
p {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}
.table-footer {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-family: "Roboto", sans-serif;
  color: #37373b;
  margin-top: 3px;
}
